@import 'variables';

.card-course-item {
  margin-top: 16px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}

// .card-body {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: space-between;
//   height: calc(100% - 261px);
// }
// .image-course {
//   height: 261px;
// }