<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <button>Learning</button>
    </div>
    <div class="col-lg-9">
      <h2>Xây dựng web với NodeJS and ExpressJS</h2>
      <iframe width="956" height="538"
        src="https://www.youtube.com/embed/LnTPJcUQdNU?list=PL_-VfJajZj0VatBpaXkEHK_UPHL7dW6I3"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <p>Xây dựng web trong thực tế với NodeJS and ExpressJS với cách chia sẻ chi tiết, tận tâm, dễ hiểu và chất giọng
        giàu sức sống của người chia sẻ</p>
    </div>
  </div>
</div>